.policy-label{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #757575;
}
.visually-hiddenn{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.policy-checkbox:checked+.policy-icon{
    background-color: #2196F3;
    border-color: transparent;
}
.checkbox:focus+.checkbox-icon{
    box-shadow: #2196F3;
}
.policy-checkbox{
    border-radius: 2px;
    color: #2196F3;
}
.policy-icon{
    fill: #FFFFFF;
    border: 2px solid #212121;
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-link{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #2196F3;
    &::after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #212121;
    }
}