.header--container{
    display: flex;
    align-items: center;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title{
    margin-top: 0;
    margin-bottom: 50px;
    color: #212121;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
}