/* --------------------------- Features --------------------------- */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-feature{
    padding-top: 94px;
    padding-bottom: 0;
}
.feature-list{
    display: flex;
}
.feature-list__link{
    display: flex;
    padding-left: 0;
    margin-top: 0;
}
.feature-list__title{
    margin-top: 0;
    margin-bottom: 10px;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature-list__item{
    width: 270px;
    margin-top: 0;
    margin-right: 30px;
    &:last-child{
    margin-right: 0;
    }
}
.feature-list__text{
    margin-top: 0;
    margin-bottom: 0;
    color:#757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}
.features-list__div{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    margin-bottom: 30px;
    border-radius: 4px;
    cursor: pointer;
}
.features-list__icon{
    fill: currentColor;
}