/* ----------------------------- Footer ---------------------------- */
.footer{
    background-color: #2F303A;
    font-style: none;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__container{
    display: flex;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1200px;
    gap: 10px;
}
.footer__logo{
    display: block;
    margin-bottom: 20px;
}
.footer__span{
    color: #FFFFFF;
}
.footer__item{
    margin-bottom: 9px;
}
.footer__address{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer__mail{
    font-style: none;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #FFFFFF99;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color: #2196F3;
    }
}
.footer__phone{
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #FFFFFF99;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color: #2196F3;
    }
}
.socials{
    margin-left: 70px;
}
.socials__title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
}
.socials-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.socials-list__item{
    width: 44px;
    height: 44px;
}
.socials-list__link{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: #2196F3;
    color: #FFFFFF;
    }
}
.socials-list__icon{
    fill: currentColor;
}