/*----------------------------- Section pic ---------------------- */
.section-title .activity{
    margin-top: 0;
    margin-bottom: 0;
}
.offer{
    position: relative;
}
.offer__title{
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}
.offer__image{
    display: block;
}
.options{
    margin-top: 0;
    display: flex;
    gap: 30px;
    padding-left: 0;
}