/* ----------------------- Section-title Team -------------------- */
.section-team{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title .tm{
    text-align: center;
}
.team{
    display: flex;
    gap: 30px;
}
.border{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-div{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}
.title-section{
    margin-top: 0;
    margin-bottom: 10px;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}
.description{
    margin-top: 0;
    margin-bottom: 16px;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-social-item {
    width: 44px;
    height: 44px;
}
.team-social-lin {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    fill: currentColor;
    &:hover,
    &:focus{
    background-color: #2196F3;
    color: #FFFFFF;
    }
}
$icons: "icon-instagram", "icon-twitter", "icon-facebook", "icon-linkedin";

@each $iconName in $icons{
    .team-social-icon-#{$iconName}{
        background-color: #FFFFFF;
    }
}
.team-social-lin{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}